@import "src/variables";

.DateSorter {
  display: flex;
  flex-direction: row-reverse;

  &__button {
    padding: $space-sm;
    background: $background-light;
    border: $border-style;

    &:hover {
      cursor: pointer;
    }
  }

  &__icon {
    display: inline;
    padding: $space-sm;
    position: relative;
    top: -2px;
  }
}
